.contactDetailsTab{
    background-color: #1F2041;
    border-radius: 25px;
}
.contactDetailsTab2{
    background-color: #1F2041;
    border-radius: 25px;
    width: 500px;
}

.detailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.contactIconContainer{
    background-color: #1F2041;
    width: 175px;
    height: 125px;
}

.contactInfo{
    font-weight: 700;
font-size: 28px;
line-height: 42px;
}

.contactText{
    font-style: italic;
font-weight: 400;
@media (max-width: 991px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
  }
  @media (max-width: 576px) {
    font-size: 16px;
  }
font-size: 24px;
line-height: 36px;
}

.paymentContainer{
    gap: 75px;
}

.reviewCard{
    width: 400px;
}

.comm{
    font-size: 64px;
    color:#1F2041;
}