@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.about {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutBackground {
  background: url("../assets/images/about-us-bg-image.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 832px;
}

.aboutTextContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.aboutTitle {
  width: 100%;
  height: 100%;
  font-size: 128px;
  font-weight: 700;
  line-height: 160px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutTitleTextContainer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 36px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.aboutTitleText {
  font-family: "Raleway", sans-serif;
  width: 80%;
}

.aboutTimeline {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.timelineImageContainer {
  width: 80%;
  overflow-x: scroll;
  padding: 50px;
}

.timelineImageContainer::-webkit-scrollbar{
  display:none;
}

.aboutIconStrip {
  height: 180px;
  background-image: url("../assets/images/orange-sky.svg");
  background-size: cover;
}

@media (max-width: 991px) {
  .aboutIconStrip{
    height: 500px;
    background-image: url("../assets/images/orange-sky-mobile.png");
  }
}
.iconStripContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconBg100 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
}

.iconBg70 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;
}

.iconBg50 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}

.iconBg50white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.aboutAccreditions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accreditionsContainer {
  // height: 200px;
  width: 93%;

  border-radius: 25px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutvvm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.vvmContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 92px;
}

.valuesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 440px;
}

.valuesTextContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vvmTitles {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 96px;
  line-height: 120px;
  color: rgba(0, 0, 0, 0.25);
}

.vvmTexts {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  width: 605px;
  text-align: left;
}

.visionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.missionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}



.viewServicesButton {
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 19px 25px;
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(8px);
}

.font48 {
  font-size: 48px;
}
