.greyStrip {
  height: 100px;
  width: 100%;
  background: rgba(217, 217, 217, 0.3);
}
.corporateHeaderImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.corporateTitle {
  position: absolute;
  font-weight: 900;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 20px 40px;
  background: rgba(217, 217, 217, 0.3);
  border-radius: 25px;
}

.miceText {
  font-weight: 900;
  font-size: 96px;
  line-height: 144px;
  color: #d9d9d9;
  letter-spacing: 0.25em;
  cursor: default;

  &:hover {
    .fw250-red {
      color: #e31e24;
    }
    .fw250-blue {
      color: #363374;
    }
  }
}

.fw250 {
  font-weight: 250;
}

.corporateFeatures {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: #d9d9d9;
}

.corporateFeaturesRow {
  list-style-position: inside;
}
