.foreignDescription {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  text-align: justify;
}

.foreignTitle {
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;
}

.bold600{
    font-weight: 600;
}
