.holidayImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
}

.holidayImageText {
  font-weight: 700;
  font-size: 24px;
  color: white;
  padding: 13px 15px;
}
.holidayImageTextContainer {
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 0px 25px 25px 0px;
  margin-bottom: 25px;
}

.holidayCarousel .swiper-button-next,
.holidayCarousel .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(4px);
}

.holidayCarousel .swiper-button-prev::after {
  content: url("../assets/icons/fi-rs-angle-small-left.svg");
  opacity: 1;
}

.holidayCarousel .swiper-button-next::after {
  content: url("../assets/icons/fi-rs-angle-small-right.svg");
  opacity: 1;
}

.font12 {
  font-size: 12px;
}

.font10 {
  font-size: 10px;
}
.prefix14 {
  font-size: 14px;
}
.prefix12 {
  font-size: 12px;
}

.suffix12 {
  font-size: 12px;
}

.suffix {
  font-size: 14px;
}
