@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Josefin+Sans&display=swap");

.holidayTitle {
  position: absolute;
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 64px;
  line-height: 180%;
  background: linear-gradient(180deg, #ffcc00 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.holidayImages {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;
}

.imageContainer {
  min-width: 300px;
  border-radius: 25px;
  overflow: hidden;
}

.imageText {
  width: 300px;
  height: 190px;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;

  border-top-right-radius: 25px;
  border-top-left-radius: 25px;

  background: rgba(45, 60, 96, 0.25);
  backdrop-filter: blur(2px);
}

.instructions {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  text-align: justify;
  display: flex;
  justify-content: center;
  .instructionsList {
    width: 80%;
  }
  //   text-align: left;
}

.bold700 {
  font-weight: 700;
}
