@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Josefin+Sans&display=swap");

.homeCarousel {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-radius {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.homeCarousel .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
}

.homeCarousel .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #374957;
}

.homeCarousel {
  height: 70svh;
}

.homeCarousel .swiper-button-next,
.homeCarousel .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(4px);
}

.homeCarousel .swiper-button-prev::after {
  content: url("../assets/icons/fi-rs-angle-small-left.svg");
  opacity: 1;
}
.homeCarousel .swiper-button-next::after {
  content: url("../assets/icons/fi-rs-angle-small-right.svg");
  opacity: 1;
}

.navigation-container {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeCarousel .swiper-next,
.swiper-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #374957;
  background: #d9d9d94d;
  opacity: 0.3;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(217, 217, 217, 0.3); */
}

.slide-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 80%;
  height: 75%;
}

.yellowBeach {
  background: linear-gradient(180deg, #ffcc00 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.poppins250 {
  font-weight: 250;
  font-style: italic;
}

.white {
  color: #ffffff;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planeText {
  white-space: nowrap;
  //media query for mobile
  @media (max-width: 991px) {
    font-size: 2rem;
    margin-bottom: 100px;
  }

  @media (max-width: 576px) {
    font-size: 1.6rem;
    margin-bottom: 150px;
  }
  font-size: 3rem;
  color: #707070;
}

.aeroWingsImage {
  //media query for mobile
  @media (max-width: 991px) {
    width: 240px;
  }
  @media (max-width: 576px) {
    width: 200px;
  }
  width: 365px;
}

.beachText {
  @media (max-width: 1200px) {
    font-size: 2.9rem;
  }
  @media (max-width: 991px) {
    font-size: 2.2rem;
  }
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media (max-width: 576px) {
    font-size: 1rem;
  }
  font-size: 3.5rem;
}

.kabahText1 {
  @media (max-width: 1300px) {
    font-size: 2.8rem;
  }
  @media (max-width: 1050px) {
    font-size: 2.3rem;
  }
  @media (max-width: 890px) {
    font-size: 2rem;
  }
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media (max-width: 590px) {
    font-size: 0.95rem;
    margin-left: 25px;
  }
  font-size: 3.5rem;
  font-weight: 900;
}
.kabahText2 {
  @media (max-width: 1300px) {
    font-size: 2rem;
  }
  @media (max-width: 1050px) {
    font-size: 1.65rem;
  }
  @media (max-width: 890px) {
    font-size: 1.4rem;
  }
  @media (max-width: 768px) {
    font-size: 1.13rem;
  }
  @media (max-width: 590px) {
    font-size: 0.68rem;
    margin-left: 25px;
  }
  font-size: 2.5rem;
  font-weight: 300;
}

.indiaText {
  @media (max-width: 1200px) {
    font-size: 2.7rem;
  }
  @media (max-width: 991px) {
    font-size: 2.2rem;
  }
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media (max-width: 576px) {
    font-size: 1.2rem;
  }

  line-height: 100%;
  font-weight: 275;
  font-style: italic;
  font-size: 3rem;
}

.incredibleIndiaImage {
  @media (max-width: 1200px) {
    width: 450px;
  }
  @media (max-width: 991px) {
    width: 360px;
  }
  @media (max-width: 768px) {
    width: 270px;
  }
  @media (max-width: 576px) {
    width: 200px;
  }
}

.thailandText {
  color: #707070;
}

.thaiText1 {
  @media (max-width: 1200px) {
    font-size: 2.7rem;
  }
  @media (max-width: 1060px) {
    font-size: 2.5rem;
  }
  @media (max-width: 991px) {
    font-size: 2.05rem;
  }
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media (max-width: 576px) {
    font-size: 1.19rem;
  }
  font-size: 3rem;
}

.thaiText2 {
  @media (max-width: 1200px) {
    font-size: 1.35rem;
  }
  @media (max-width: 1060px) {
    font-size: 1.26rem;
  }
  @media (max-width: 991px) {
    font-size: 1.03rem;
  }
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
  @media (max-width: 576px) {
    font-size: 0.6rem;
  }
  font-size: 1.5rem;
}

.corporateText1 {
  
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
  @media (max-width: 480px) {
    font-size: 0.6rem;
  }
  font-size: 1.25rem;

  font-weight: 300;
  font-style: italic;
}
.corporateText2 {
  @media (max-width: 768px) {
    font-size: 2.57rem;
  }
  @media (max-width: 480px) {
    font-size: 1.95rem;
  }

  font-size: 4rem;
  font-weight: 900;
}
.corporateText3 {
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media (max-width: 480px) {
    font-size: 1.22rem;
  }

  font-size: 2.5rem;
  font-weight: 900;
}

.cursive {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.josefinsSans {
  font-family: "Josefin Sans", sans-serif;
}

.thaiGradient {
  background: linear-gradient(172.38deg, #374957 30.16%, #ff543f 148.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.black {
  color: black;
}
