.menuGrid {
  @media (min-width: 1400px) {
    max-width: 1140px !important;
  }
}

.menuBoxContainer {
  min-width: 250px;
}

.squareImage {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.rectangleImage {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.menuBox {
  min-width: 250px;
  height: 250px;
}

.menuBox.menuHajjImage {
  min-width: 250px;
}

.menuImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.menuImage:hover {
  transform: scale(1.2);
}

.menuTextContainer {
  z-index: 1;
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 0px 25px 25px 0px;
  margin-bottom: 25px;
}

.menuText {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: white;
  padding: 13px 15px;
}

@media (min-width: 1200px) {
  .rectangleImage {
    width: 523px;
  }
  .menuImage.menuHajjImage {
    width: 523px;
  }
}

.seeMoreBox {
  width: 250px;
  height: 250px;
  background: rgba(217, 217, 217, 0.3);

  text-align: right;
}

.seeMoreText {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #d9d9d9;
}

.title14 {
  font-size: 14px;
  line-height: 14px;
}
.title16 {
  font-size: 16px;
  line-height: 16px;
}
.title18 {
  font-size: 18px;
  line-height: 18px;
}
.title20 {
  font-size: 20px;
  line-height: 20px;
}
.prefix18 {
  font-size: 18px;
  line-height: 18px;
}
.prefix20 {
  font-size: 20px;
  line-height: 20px;
}
.suffix18 {
  font-size: 18px;
  line-height: 18px;
}
.suffix20 {
  font-size: 20px;
  line-height: 20px;
}
.suffix12 {
  font-size: 12px;
  line-height: 17.5px;
}

// .otherMenuImage img.imageHover {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   opacity: 0;
//   object-fit: contain;
//   transition: opacity 0.2s;
// }
// .otherMenuImage:hover img.imageHover {
//   opacity: 1;
// }