@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.swiper-vertical .swiper-button-next,
.swiper-vertical .swiper-button-prev {
	left: 50%;
  margin-left: -16px;
	transform-origin: left center;
}

.swiper-vertical .swiper-button-prev {
	top: calc(var(--swiper-navigation-size) / 2);
}
.swiper-vertical .swiper-button-next {
	top: auto;
	bottom: calc(var(--swiper-navigation-size) / 2);
}

.verticalCarousel .swiper-pagination-bullet {
    opacity: 1;
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
  }
  
  .verticalCarousel .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #CA9E67;
  }

  .verticalCarousel .swiper-button-prev::after {
    content: url("../assets/icons/fi-rs-angle-up.svg");
    opacity: 1;
  }
  .verticalCarousel .swiper-button-next::after {
    content: url("../assets/icons/fi-rs-angle-down.svg");
    opacity: 1;
  }

.verticalSlide{
    text-align: justify;
}

.verticalHeading{
    font-weight: 700;
    @media (max-width: 991px) {
      font-size: 32px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
    font-size: 36px;
    color: #CA9E67;
}

.verticalText{
    padding-right: 30px;
}