.visaHeaderImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visaTitle {
  position: absolute;
  font-weight: 900;
  @media (max-width: 991px) {
    font-size: 32px;
    padding: 15px 30px;
  }
  @media (max-width: 768px) {
    font-size: 24px;
    padding: 12px 24px;
  }
  @media (max-width: 576px) {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 15px;
  }
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 20px 40px;
  background: rgba(217, 217, 217, 0.3);
  border-radius: 25px;
}

.visaFeatures {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: #374957;
}

.visaFeaturesRow {
  @media (max-width: 1200px) {
    width: 40%;
  }
  @media (max-width: 991px) {
    width: 70%;
  }
  @media (max-width: 768px) {
    width: 85%;
  }
  @media (max-width: 576px) {
    width: 80%;
    font-size: 26px;
  }
  @media (max-width: 470px) {
    width: 100%;
    font-size: 22px;
  }
  list-style-position: inside;
  width: min-content;
}

.marquee {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  font-weight: 400;
  color: #374957;

  position: absolute;
  overflow: hidden;

  animation: marquee 8s linear infinite;
}

.marquee span {
  white-space: nowrap;

  float: left;
}
.marquee div:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.countryTitle{
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;

}